/* Apply box-sizing and padding to all divs */
div {
    box-sizing: border-box;
    padding: 20px;
}

/* Header */
.header {
    background: #FF9C56;
    height: 100px;
}

/* Sidebar */
.sidebar {
    background: #99FF66;
    float: left;
    height: 300px;
}

/* Content */
.content {
    background: #9900FF;
    height: 300px;
}

/* Footer */
.footer {
    background: #FF4D79;
    clear: both;
    height: 100px;
}