/* Apply box-sizing and padding to all divs */
div {
    box-sizing: border-box;
    padding: 20px;
}

/* Header */
.header {
    background: #FF9C56;
}

/* content */
.content {
  background: yellow;
  overflow: auto;
}
/* widget */
.widget, .gadget {
    float: left;
    background: red;
    width: 200px;
    height: 200px;
    margin: 25px;
}

.sub-widget {
  background: pink;
}

.blue {
  background: blue;
}

/* Footer */
.footer {
    clear: both;
    background: #FF4D79;
}